/bin/

dataconnector.yaml
tables.yaml
relations.yaml
ingress-descriptor.yaml
ingress-descriptor.dot

tests/workspace/*

# IDE integration
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
/.history
.vscode/
